page-home {
}

.slide, .header  {
  background: #f53d3d;
  color: #fff;
}

page-home .scroll-content {
  background: #f53d3d;
}

.slide:first-child {
  display: inline;
}

.slide:first-child img {
  filter: brightness(50%);
}
